.default {
    border: 1px black solid;
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: transparent;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.border-black {
    border: 2px solid black;
}

.border-coral {
    border: 2px solid coral;
}

.border-green {
    border: 2px solid green;
}